@font-face {
    font-family: 'Iosevka Charon Mono';
    src: url('IosevkaCharonMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka Charon Mono';
    src: url('IosevkaCharonMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
